SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DBConnection_Delete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[DBConnection_Delete]
GO



-- =============================================
-- Author:		Mark Garner
-- Create date: 8-11-06
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[DBConnection_Delete] 
	-- Add the parameters for the stored procedure here
	@DBConnectionID int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM DBConnection
	WHERE DBConnectionID = @DBConnectionID 
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

